<%- include("../layouts/header.ejs") %>

<section class="py-5" id="home-sec1">
  <div class="container">
    <div class="row">
      <div class="col-5 my-auto">
        <h2 class="pb-2">Automated Cheque Processing with Fraud Detection</h2>
        <p>
          Process cheques automatically without the need of human intervention. Fast, Efficient and Secure automated process with Fraud Detection Checks.
        </p>
        <a href="/signup" type="button" class="btn btn-primary get-started my-4"
          >Get Started</a
        >
        <a href="#home-sec3" type="button" class="btn feature-btn mx-3 my-4">Features</a>
      </div>
      <div class="col-1"></div>
      <div class="col-6 pl-5 mx-auto">
        <img width="120%" class="home-bg rounded" src="/images/bg.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="home-sec2">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2>Made for Banks</h2>
      </div>
    </div>

    <!-- REGISTER > UPLOAD > PROCESS > RESULTS -->

    <div class="row pt-5">
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <div class="card-body p-4">
            <div class="pb-4 pt-2">
                <i class="icons fa-solid fa-rocket fa-2xl"></i>
            </div>
            <h5 class="card-title">REGISTER</h6>
            <p class="card-text">
                Register with your official bank credentials and Identity Card
            </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card" style="width: 18rem">
          <div class="card-body p-4">
            <div class="pb-4 pt-2">
                <i class="icons fa-solid fa-briefcase fa-2xl"></i>
            </div>            
            <h5 class="card-title">UPLOAD</h6>
            <p class="card-text">
                Upload the cheque image on the portal and submit for processing
            </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card" style="width: 18rem">
          <div class="card-body p-4">
            <div class="pb-4 pt-2">
                <i class="icons fa-solid fa-bag-shopping fa-2xl"></i>
            </div>            
            <h5 class="card-title">VERIFY</h6>
            <p class="card-text">
                The scanned cheque is validated against official bank records
            </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card" style="width: 18rem">
          <div class="card-body p-4">
            <div class="pb-4 pt-2">
                <i class="icons fa-solid fa-screwdriver-wrench fa-2xl"></i>
            </div>            
            <h5 class="card-title">RESULTS</h6>
            <p class="card-text">
                Cheque is approved after signature and credentials verification
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="home-sec3">
    <div class="container">
        <div class="row">
            <div class="col-5 my-auto pr-2">
                <h2 class="pb-2">Process Cheques Efficiently 24/7</h2>
                <p style="text-align: justify;">
                    ChecQPro helps banks process cheques minimising human efforts along with providing numerous security checks and ML based signature verification for detecting potential frauds.
                </p>
            </div>
            <div class="col-7 pl-5">
                <img style="border-radius: 20px; padding-left: 30px;" class="img-fluid" src="/images/test.svg" alt="">
            </div>
        </div>

        <div class="row py-5 sec3-feature">
            <div class="col-4">
                <div class="container mt-3 mb-1 p-3 my-auto">
                    <div class="row">
                        <div class="col-2 my-auto text-center  pl-3">
                            <i class="fa-regular fa-2xl icons fa-circle-check"></i>
                        </div>
                        <div class="col-10">
                            <p class="sec3-p my-auto">Reduce cheque processing time and minimise human efforts</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="container mt-3 mb-1 p-3 my-auto">
                    <div class="row">
                        <div class="col-2 my-auto text-center pl-3">
                            <i class="fa-regular fa-2xl icons fa-circle-check"></i>
                        </div>
                        <div class="col-10 pr-2">
                            <p class="sec3-p my-auto">Best-in-class OCR capabilities powered by Google's Vision API</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="container mt-3 mb-1 p-3 my-auto">
                    <div class="row">
                        <div class="col-2 my-auto text-center pl-3">
                            <i class="fa-regular fa-2xl icons fa-circle-check"></i>
                        </div>
                        <div class="col-10">
                            <p class="sec3-p my-auto">Accurate text conversion without compromising quality & resolution</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5" id="home-sec4">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img style="border-radius: 20px;" class="img-fluid" src="/images/test.svg" alt="">
            </div>
            <div class="col-5 my-auto">
                <h2 class="pb-2">Revolutionising Cheque Processing</h2>
                <p style="text-align: justify;">
                    ChecQPro uses Google's Vision API, for accurate
                    handwriting to text conversion. It also supports multilingual cheque processing 
                    with whitespace reduction and an admin panel for authorising the bank 
                    employees before granting full access to the cheque processing portal.
                </p>
            </div>
        </div>
    </div>
</section>

<%- include("../layouts/footer.ejs") %>
