html,
body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif !important;
  background-color: #1c1824;
}

/* NAVBAR */

.login {
  font-weight: 500;
  color: #27ae60;
  text-decoration: none;
}

.login:hover {
  color: #31c870;
}

.signup {
  color: #27ae60;
  text-decoration: none;
}

.signup:hover {
  color: #31c870;
}

/* HOME PAGE */

#home-sec1 {
  background-color: #131117;
}

#home-sec1 h2 {
  color: #fff;
  font-weight: 600;
  line-height: 60px;
  font-size: 45px;
}

#home-sec1 p {
  color: #b4b3b5;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
}

.get-started {
  background-color: #6652e0;
  border: none;
  width: 150px;
  height: 50px;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding-left: 23px;
}
.get-started:hover {
  background-color: #5a47d1 !important;
  border: none;
}
.get-started:focus {
  background-color: #5a47d1 !important;
  border: none;
}

.feature-btn {
  background-color: #2b292f;
  border: none;
  width: 120px;
  height: 50px;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding-left: 21px;
}
.feature-btn:hover {
  background-color: #2b292f !important;
  color: #31c870 !important;
  border: none;
}
.feature-btn:focus {
  background-color: #2b292f !important;
  color: #31c870 !important;
  border: none;
}

#home-sec2 h2 {
  color: #fff;
  font-weight: 600;
  line-height: 45px;
  font-size: 40px;
}

#home-sec2 .card {
  background-color: #131117;
}

#home-sec2 .card h5 {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
}

#home-sec2 .card p {
  color: #b4b3b5;
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
}

#home-sec2 .icons {
  color: #31c870 !important;
}

#home-sec3 .icons {
  color: #31c870 !important;
}

#home-sec3 {
  background-color: #131117;
}

#home-sec3 h2 {
  color: #fff;
  font-weight: 600;
  line-height: 65px;
  font-size: 55px;
}

#home-sec3 p {
  color: #b4b3b5;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
}

.sec3-p {
  color: #fff !important;
  font-weight: 600 !important;
  line-height: 32px !important;
  font-size: 19px !important;
}

.sec3-feature .container {
  background-color: #1c1824;
  border-radius: 10px;
}

#home-sec4 {
  background-color: #1c1824;
}

#home-sec4 h2 {
  color: #fff;
  font-weight: 600;
  line-height: 65px;
  font-size: 55px;
}

#home-sec4 p {
  color: #b4b3b5;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
}

/* HOME PAGE ENDS HERE */

/* SIGNUP PAGE STARTS */

.form-signin {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup-header-img {
  width: 75px;
}

.btn-signup-email {
  background-color: #1ec162;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 10px auto;
  border: none;
}

.btn-signup-email:hover {
  background-color: #18b358;
  color: #fff;
  outline: none;
  border: none;
}

.btn-signup-email:focus {
  background-color: #18b358 !important;
  color: #fff;
  outline: none;
  border: none;
  box-shadow: none !important;
}

.btn-signup {
  background-color: #1ec162;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
  margin: 10px auto;
  border: none;
  outline: none;
}

.btn-signup:hover {
  background-color: #18b358;
}

.btn-signup:focus {
  background-color: #18b358 !important;
  box-shadow: none !important;
}

.btn-signup:focus {
  background-color: #18b358;
}

.btn-signup img {
  width: 20px;
}

.form-section {
  font-family: 'Montserrat', sans-serif;
}

.form-signin {
  position: relative;
  bottom: 50px;
}

.form-signin h3 {
  font-weight: 600;
  line-height: 41px;
  font-size: 33px;
  color: #4f565a;
}

.form-signin span {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #6c6d71;
}

.input-label {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #6c6d71;
}

.password-check {
  font-weight: 400;
  line-height: 21px;
  font-size: 16px;
  color: #828387;
}

.privacy-policy {
  font-weight: 400;
  line-height: 21px;
  font-size: 16px;
  color: #828387;
}

.top-link {
  color: #1ec162;
  text-decoration: none;
}

.top-link:hover {
  color: #18b358;
}

/* SIGNUP PAGE ENDS */

/* SIGNIN PAGE STARTS */

.btn-signin {
  background-color: #1ec162;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  width: 93%;
  height: 40px;
  text-align: center;
  outline: none;
  border: none;
}

.btn-signin:hover {
  background-color: #18b358;
  color: #fff;
  outline: none;
  border: none;
}

.btn-signin:focus {
  background-color: #18b358 !important;
  color: #fff;
  box-shadow: none !important;
}

.btn-signin img {
  width: 10px;
}

.third-party {
  position: relative;
  right: 36px;
  bottom: 30px;
  width: 120%;
}

.form-heading h3 {
  color: #fff;
}

.form-heading span {
  color: #efefef;
}

.input-label {
  color: #efefef;
}

.password-check {
  color: #d1d1d1;
}

/* SIGNIN PAGE ENDS */

/* REGISTRATION FORM STARTS */

.btnRegister {
  float: right;
  margin-top: 6%;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #1ec162;
  color: #fff;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
}

.btnRegister:hover {
  background: #18b358;
}

.btnRegister:focus {
  background: #18b358;
  outline: none !important;
  border: none !important;
}

.form-group .form-control {
  height: 50px;
  /* background-color: #131117;
  border-color: #efefef; */
}

/* .form-group .form-control {
    height: 50px;
    background-color: #131117;
    border-color: #efefef;
  }

.form-group .form-control:focus {
  height: 50px;
  background-color: #131117;
  border-color: #efefef;
} */

.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover {
  border: none;
}
.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}


/*DRAG AND DROP INPUT*/

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -15px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 70px 100px 105px 25%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.files {
  position: relative;
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 55px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: '';
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: #f1f1f1;
}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: ' or drag it here. ';
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

/*DRAG AND DROP INPUT*/

/* REGISTRATION FORM ENDS */
